[project]
	description = Export SVG to JPEG, PNG, PDF and SVG
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lucas Serpa Silva (lssilva)
[access "refs/for/refs/*"]
	read = group user/Lucas Serpa Silva (lssilva)
	push = group user/Lucas Serpa Silva (lssilva)
	label-Code-Review = -2..+2 group user/Lucas Serpa Silva (lssilva)
	label-Verified = -1..+1 group user/Lucas Serpa Silva (lssilva)
	rebase = group user/Lucas Serpa Silva (lssilva)
	removeReviewer = group user/Lucas Serpa Silva (lssilva)
	submit = group user/Lucas Serpa Silva (lssilva)
[access "refs/heads/*"]
	read = group user/Lucas Serpa Silva (lssilva)
	create = group user/Lucas Serpa Silva (lssilva)
	push = +force group user/Lucas Serpa Silva (lssilva)
	pushMerge = group user/Lucas Serpa Silva (lssilva)
[access "refs/tags/*"]
	push = group user/Lucas Serpa Silva (lssilva)
	push = +force group user/Lucas Serpa Silva (lssilva)
